<%- include('./_navbar.ejs'); %>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <form action="/updateProfile" method="post">
      <div class="modal-content custom-modal">
        <div class="modal-body">
          <h5 class="modal-title text-center text-white" id="exampleModalLabel">
            Update Profile
          </h5>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-silver"
              >Full Name
            </label>

            <div class="nav_search w-100">
              <input
                type="text"
                placeholder="Enter Your Name"
                id="exampleFormControlInput1"
                name="name"
                value="<%= user.full_name %>"
              />

              <i
                class="fa-solid fa-user"
                style="color: white; font-size: 22px"
              ></i>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-silver"
              >Facebook
            </label>

            <div class="nav_search w-100">
              <input
                type="text"
                placeholder="Your Facebook Link"
                id="exampleFormControlInput1"
                name="fb"
                value="<%= user.fb %>"
              />

              <i
                class="fa-brands fa-facebook"
                style="color: white; font-size: 22px"
              ></i>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-silver"
              >Linkedin
            </label>

            <div class="nav_search w-100">
              <input
                type="text"
                placeholder="Your Linkedin Link"
                id="exampleFormControlInput1"
                name="linkedin"
                value="<%= user.linkedin %>"
              />

              <i
                class="fa-brands fa-linkedin"
                style="color: white; font-size: 22px"
              ></i>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-silver"
              >Country
            </label>

            <div class="nav_search w-100">
              <select
                class="bg-transparent text-silver border-0 w-100 outline-0"
                aria-label="Default select example"
                name="country"
                style="outline: none"
              >
                <option class="bg-dark" value="">Choose Country</option>
                <% countryList.forEach((c) => { if(c.value == user.country) { %>

                <option class="bg-dark" selected value="<%= c.value %>">
                  <%= c.label %>
                </option>
                <% } else { %>
                <option class="bg-dark" value="<%= c.value %>">
                  <%= c.label %>
                </option>
                <% }}) %>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-silver"
              >Profession Category
            </label>

            <div class="nav_search w-100">
              <select
                class="bg-transparent text-silver border-0 w-100 outline-0"
                aria-label="Default select example"
                name="subcategory"
                style="outline: none"
              >
                <option class="bg-dark" value="" selected>
                  Choose Category
                </option>
                <% categories.forEach((c) => { if(c.id == user.subcategory) { %>
                <option class="bg-dark" selected value="<%= c.id %>">
                  <%= c.name %>
                </option>
                <% } else { %>
                <option class="bg-dark" value="<%= c.id %>">
                  <%= c.name %>
                </option>
                <% }}) %>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="profile py-5">
  <main class="policy-btn-wrapper">
    <section class="policy-btn">
      <div class="policy-btn-inner">
        <div class="d-flex flex-column gap-3">
          <div class="compare-button-wrapper">
            <div class="compare-button align-items-center">
              <div
                class="profile-img mb-2 cursor-pointer"
                onclick="triggerImage()"
              >
                <img src="<%= user.profile %>" alt="" id="profile-img" />
                <div class="camera-icon position-absolute">
                  <i class="fa-regular fa-image"></i>
                </div>
                <input
                  type="file"
                  class="d-none"
                  id="profile-img-input"
                  accept="image/*"
                  onchange="uploadProfile(this)"
                />
              </div>
              <div class="d-flex flex-column gap-2 ms-4">
                <h1 class="user-ratings"><%= user.full_name %></h1>
                <p class="small-text"><%= user.email %></p>
                <p class="small-text"><%= user.country %></p>
                <p class="small-text"><%= cat.name %></p>
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column gap-2">
            <% if(user.fb) { %>
            <div class="d-flex align-items-center gap-3 profile-socials">
              <i
                class="fa-brands fa-facebook"
                style="color: white; font-size: 22px"
              ></i>
              <a href="<%= user.fb %>" target="_blank" class="small-text"
                ><%= user.fb %>
              </a>
            </div>
            <% } if(user.linkedin) { %>
            <div class="d-flex align-items-center gap-3 profile-socials">
              <i
                class="fa-brands fa-linkedin"
                style="color: white; font-size: 22px"
              ></i>
              <a href="<%= user.linkedin %>" target="_blank" class="small-text"
                ><%= user.linkedin %></a
              >
            </div>
            <% } %>
          </div>
          <div class="d-flex flex-column justify-content-between gap-3">
            <div>
              <div class="d-flex justify-content-between mb-2">
                <b class="reviews1">Competent</b>
                <b class="reviews1" style="min-width: auto"
                  ><%= competentAvg %></b
                >
              </div>
              <!-- range bar for showing competent out of 5 -->
              <div class="rating-bar rating-bar2">
                <div
                  class="average-rating"
                  style="width: <%= competentAvg * 10 %>%"
                ></div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-between mb-2">
                <b class="reviews1">Likable</b>
                <b class="reviews1" style="min-width: auto"
                  ><%= likableAvg %></b
                >
              </div>
              <!-- range bar for showing competent out of 5 -->
              <div class="rating-bar rating-bar2">
                <div
                  class="average-rating bar-2"
                  style="width: <%= likableAvg * 10 %>%"
                ></div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-between mb-2">
                <b class="reviews1">Influential</b>
                <b class="reviews1" style="min-width: auto"
                  ><%= influentialAvg %></b
                >
              </div>
              <!-- range bar for showing competent out of 5 -->
              <div class="rating-bar rating-bar2">
                <div
                  class="average-rating bar-3"
                  style="width: <%= influentialAvg * 10 %>%"
                ></div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-between mb-2">
                <b class="reviews1">Total Average</b>
                <b class="reviews1" style="min-width: auto"><%= avgRating %></b>
              </div>
              <div class="rating-bar rating-bar2">
                <div
                  class="average-rating bar-4"
                  style="width: <%= avgRating * 10 %>%"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100">
        <h3 class="text-bold">User Ratings (<%= ratings.length %>)</h3>
        <% ratings.forEach((rating) => { %>
        <div class="container-35-wrapper mb-3">
          <div class="container-35">
            <div class="d-flex gap-5">
              <div class="image-33-wrapper">
                <img
                  class="image-33-icon"
                  loading="lazy"
                  alt=""
                  src="<%= rating?.profile %>"
                />
              </div>
              <div class="user-picks-parent">
                <h4 class="user-picks text-bold"><%=rating?.full_name %></h4>
                <b class="reviews1"
                  >Competent: <%=(rating.competent_rating * 10 / 3).toFixed(1)
                  %>
                </b>
                <b class="reviews1"
                  >Likable: <%=(rating.likable_rating * 10 / 3).toFixed(1) %>
                </b>
                <b class="reviews1"
                  >Influential: <%=(rating.influential_rating * 10 /
                  3).toFixed(1) %>
                </b>
                <div class="favorite-users-i mt-3"><%=rating?.comment %></div>
              </div>
            </div>
            <a
              href="/user?id=<%=rating.rated_by %>"
              class="btn nav_btn2 hero_btn rounded-pill px-4 py-2 fs-6"
            >
              View Profile
            </a>
          </div>
        </div>
        <% }); %>
      </div>
    </section>
  </main>
</div>

<%- include('./_footer.ejs'); %>
